            {% include "top.html" %}

            <div id="content" class="box">
                <p>
                    <a class="button" href="/add">Lägg till kort</a>
                    <div class="clear"></div>
                </p>

                <ul id="ads">
                    {% for ad in ads %}
                    <li class="sWrapper">
                        <a class="contextImage" href="/ads/{{ ad.key }}"><img src="/ads/{{ ad.key }}/image?size=small"/></a>
                        <div class="infoBox">
                            <a href="/ads/{{ ad.key }}"><h2>{{ ad.title }}</h2></a>
                            <dl>
                                <dt>Telefon</dt>
                                <dd>{{ ad.phone }}</dd>
                                <dt>Email</dt>
                                <dd>{{ ad.email }}</dd>
                                <dt>Pris</dt>
                                <dd>{{ ad.price2 }} kr</dd>
                            </dl>
                            <div class="footer">
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        {% include "ga.html" %}
    </body>
</html>
