/* RESET
 ****************************************************************************/

* {
    margin: 0;
    padding: 0;
}
p {
    margin-bottom: 8px;
}
ul li {
    list-style-type: none;
}
body {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 13px;
    background-color: #fff;
    color: #333;
}
a,
a:visited,
a:hover {
    color: #333;
    text-decoration: none;
}

/* BASE
 ****************************************************************************/

.bulletedList li {
    list-style-type: disc;
    margin-left: 16px;
}

.horizontalList li {
    list-style-type: none;
    display: inline;
}
.glue {
    display: none;
}
.clear {
    clear: both;
}
.clickable {
    cursor: pointer;
}
dt {
    margin-top: 8px;
    font-weight: bold;
}
a img {
    border: none;
}
fieldset {
    padding: 8px;
    border: 1px solid #ccc;
}
legend {
    font-weight: bold;
    margin-bottom: 8px;
}
label {
    display: block;
}
.button {
    float: left;
    border: 1px solid #808080;
    cursor: pointer;
    background-image: -moz-linear-gradient(top, white, #ccc);
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ccc));
    background-size: 100% 100%;
    padding: 5px;
    margin: 5px 0;
    color: black;
    text-shadow: white 0px 0px 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
h2 {
    margin: 16px 0;
}
h1 {
    background: black;
    color: white;
}
h1 a,
h1 a:visited {
    color: white;
}

/* DIGGEN ANNONS
 ****************************************************************************/

#wrapper {
    width: 1024px;
    margin: 0 auto;
}
.box {
    display: block;
    padding: 12px;
}
#content {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#ads li,
#sponsors li,
#billboards li {
    float: left;
    margin: 0 60px 20px 0;
}
#ads li:nth-child(4n+0),
#sponsors li:nth-child(4n+0),
#billboards li:nth-child(4n+0) {
    margin-right: 0;
}

.multiSelectWidget td {
    padding: 8px 12px;
}
.multiSelectWidget td:first-child {
    padding: 0px;
}

#price {
    font-size: 42px;
    text-decoration: line-through;
}

/* BILLBOARD/AD VIEW
 ****************************************************************************/

.bWrapper {
    width: 100%;
}
.bWrapper h2 {
    padding: 0;
    margin: 0;
}
.bWrapper .contextImage {
    float: left;
}
.bWrapper .infoBox {
    float: left;
    margin-left: 8px;
}

#blurb {
    margin-top: 8px;
}

.shadow {
    -moz-box-shadow: #333 0px 10px 50px 0px;
    -webkit-box-shadow: #333 0px 10px 50px 0px;
    box-shadow: #333 0px 10px 50px 0px;
}

/* INDEX/BILLBOARDS/ADS & SMALL WRAPPERS
 ****************************************************************************/

.sWrapper h2 {
    font-size: 13px;
    margin: 0;
}
.sWrapper {
    position: relative;
    width: 204px;
    overflow: hidden;
}
.sWrapper .contextImage {
    position: relative;
    display: block;
    width: 204px;
    height: 204px;
}
.sWrapper .contextImage img {
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid #ccc;
    padding: 1px;
}
.sWrapper .footer {
    display: block;
}
.sWrapper .qr {
    position: relative;
    left: -16px; /* don't know how to get rid of white space from google charts */
}
.sWrapper dt {
    display: none;
}

/* TABS
 ****************************************************************************/

#tabs {
    border-bottom: 1px solid #A64800;
    height: 40px;
    position: relative;
    background: black;
}
#tabs li {
    float: left;
    position: relative;
    top: 14px; /* height - padding */
    padding: 4px;
    background: white;
    margin-right: 4px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font-size: 14px;
    height: 18px;
    background: #ccc;
}
#tabs li a {
    color: black;
}
#tabs li.first {
    margin-left: 12px;
}
#frontpage #ads_tab,
#ad_view #ads_tab,
#add_ad_form #ads_tab,
#billboards_page #billboards_tab,
#sponsors_page #sponsors_tab,
#billboard_view #billboards_tab,
#add_sponsor_form #sponsors_tab,
#add_billboard_form #billboards_tab {
    background: white;
}

/*************/

#col1,
#col2 {
    float: left;
    width: 50%;
}

.fsad h2 {
    font-size: 16px;
    margin: 0;
}
.fsad {
    float: left;
    position: relative;
    width: 200px;
    height: 450px;
    overflow: hidden;
    margin-right: 62px;
    padding: 10px;
    background: #ffffff;
}
.fsad .contextImage {
    position: relative;
    display: block;
    width: 204px;
    height: 204px;
}
.fsad .contextImage img {
    position: absolute;
    bottom: 0;
}
.fsad .footer {
    display: block;
    position: absolute;
    bottom: 5;
}
.fsad .qr {
    position: relative;
    left: -6px; /* don't know how to get rid of white space from google charts */
}
.fsad .infoBox {
    margin-top: 8px;
    height: 156px;
    overflow: hidden;
}
.fsad .blurb {
    margin: 8px 0;
}
.fsad dt {
    display: none;
}
.fsad .price {
    color: red;
    font-weight: bold;
    background: yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
}

input.error,
textarea.error {
    border: 1px solid red;
}
#errors {
    color: red;
    margin: 16px 0;
}

.importantMessage {
    padding: 10px;
    border: 3px solid #3B5998;
    background-color: #EDEFF4;
    color: #3B5998;
    display: block;
    margin: 8px 0px;
}

.warning {
    color: red;
}

input[type=submit] {
    margin: 8px 0;
}
